rasterio>=1.0a12
fiona
shapely
pandas
geopandas
pyproj
mapbox
rasterstats
mapboxgl
jupyter
mercantile
scipy
scikit-learn
seaborn
statsmodels
ggplot
six
rtree
psycopg2
geopy
matplotlib>=2.0.1
descartes
mapclassify
